<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- 配置Filter -->
    <filter>
        <!-- 起别名 -->
        <filter-name>loggingFilter</filter-name>
        <filter-class>com.okccc.filter.Filter01</filter-class>
        <!-- 初始参数 -->
        <init-param>
            <param-name>dateTimePattern</param-name>
            <param-value>yyyy-MM-dd HH:mm:ss</param-value>
        </init-param>
    </filter>
    <!-- 过滤规则,可以包含多个url-pattern和servlet-name -->
    <filter-mapping>
        <filter-name>loggingFilter</filter-name>
        <!-- 根据请求的资源路径过滤 -->
        <url-pattern>/*</url-pattern>
        <url-pattern>*.html</url-pattern>
        <url-pattern>/servlet01</url-pattern>
        <!-- 根据请求的Servlet别名过滤 -->
<!--        <servlet-name>servlet01</servlet-name>-->
    </filter-mapping>

    <!-- 配置Servlet -->
<!--    <servlet>-->
<!--        &lt;!&ndash; 起别名 &ndash;&gt;-->
<!--        <servlet-name>servlet01</servlet-name>-->
<!--        &lt;!&ndash; 告诉tomcat要实例化的Servlet类,tomcat会通过反射创建该Servlet对象并调用其service方法 &ndash;&gt;-->
<!--        <servlet-class>com.okccc.servlet.Servlet01</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        &lt;!&ndash; 关联别名和映射路径 &ndash;&gt;-->
<!--        <servlet-name>servlet01</servlet-name>-->
<!--        <url-pattern>/servlet01</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>servlet02</servlet-name>-->
<!--        <servlet-class>com.okccc.servlet.Servlet02</servlet-class>-->
<!--        &lt;!&ndash; 默认值-1表示tomcat启动时不会实例化该Servlet,设置为正整数让tomcat启动时就实例化该Servlet,数字越小优先级越高 &ndash;&gt;-->
<!--        <load-on-startup>6</load-on-startup>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>servlet02</servlet-name>-->
<!--        <url-pattern>/servlet02</url-pattern>-->
<!--    </servlet-mapping>-->

    <!-- ServletContext -->
<!--    <context-param>-->
<!--        <param-name>encoding</param-name>-->
<!--        <param-value>utf-8</param-value>-->
<!--    </context-param>-->
<!--    <context-param>-->
<!--        <param-name>haha</param-name>-->
<!--        <param-value>hehe</param-value>-->
<!--    </context-param>-->

    <!-- ServletConfig -->
<!--    <servlet>-->
<!--        <servlet-name>servlet03</servlet-name>-->
<!--        <servlet-class>com.okccc.servlet.Servlet03</servlet-class>-->
<!--        <init-param>-->
<!--            <param-name>k1</param-name>-->
<!--            <param-value>v1</param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>k2</param-name>-->
<!--            <param-value>v2</param-value>-->
<!--        </init-param>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>servlet03</servlet-name>-->
<!--        <url-pattern>/servlet03</url-pattern>-->
<!--    </servlet-mapping>-->

    <!-- 设置session存活时间(分钟) -->
<!--    <session-config>-->
<!--        <session-timeout>1</session-timeout>-->
<!--    </session-config>-->
</web-app>